<footer class="footer">
  <p class="text-right"><small>
    <%= link_to_unless_current 'Contact', page_path('contact') %> |
    <%= link_to_unless_current 'About Us', page_path('about') %>
    <% if cookies_accepted? %>
        |
        <%= link_to "Cookies Policy", "#cookiesModal", :class => "btn", "data-toggle" => "modal" %>
    <% else %>
        |
        <%= link_to_unless_current 'Cookies Policy', "#cookiesModal", "data-toggle" => "modal" %>
        <%= render :partial => 'layouts/cookie_modal' %>
        <script type="text/javascript">
            $('#cookiesModal').modal({show: true}) ;
        </script>

    <% end %>
  </small></p>

</footer>

